<div class="container">
    <h2 class="text-info">Find the restaurants and cafés closest to you in one click</h2>
    <div id="description" class="bg-warning">
        <p class="lead">
            Browse depending on your location and choose your browsing preferences.
        </p>
        <p class="lead">
            Give up to 5 stars to places you've visited.
        </p>
        <p class="lead">
            Comment to let others know your thoughts on the food, beverage, staff and atmoshere of the place.
        </p>
    </div>
</div>