<div class="container">
    <h2 class="text-info">Find the best restaurants and cafés in one click</h2>
    <div id="description" class="bg-warning">
        <p class="lead">
            Browse depending on the city you are in and search for places offering your favourite cuisine.
        </p>
        <p class="lead">
            Add the best restaurants to your list of favourites.
        </p>
        <p class="lead">
            Comment to let others know your thoughts on the food, beverages, staff and atmoshere of the place.
        </p>
    </div>
</div>