.hidden {
    display: none;
}

.red {
    color: red;
    font-size: 1.5em;
}

.restaurant {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
}


/*
.restaurant-profile {
    display: flex;
    align-items: center;
}*/

.main-info {
    height: 100%;
}

.main-info p {
    margin: 0;
}

.main-info h3 {
    padding: 0;
    margin: 0;
}

.bottom-align-text {
    vertical-align: bottom;
}

.bigger-font {
    font-size: 1.2em;
}

.smaller-font {
    font-size: 0.7em;
}

.star-image {
    height: 2em;
    display: inline-block;
}

.main-info .top-margin {
    margin-top: 1em;
}

.top-margin {
    margin-top: 1em;
}

.restaurant-profile-image {
    display: block;
    height: 15em;
    margin-bottom: 2em;
}

.restaurant-description{
    margin: 2em;
}

.comment-section {
    margin: 2em;
}

.restaurant-profile-main {
    display: inline-block;
}

.comment {
    border: 1px solid black;
    padding: 1.5em;
}

.comment-content {
    margin-bottom: 1.2em;
}

.add-comment-form{
    margin-top: 2em;
}